<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="bgimage">
    <div class="logo">
      <img class="logoimg"  src="./images/logo.png" />   
    </div>

    <div class="toptext"> 
    <a class="underline"  href="/strike">Playする&gt;&gt;</a>
    </div>

  


  </body>
</html>
