<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style-top.css' />

  </head>
  <body class="bgimage">
    
    <div class="logo">
      <p>sample games</p>  
    </div>

    <div class="toptext"> 
    <a class="underline"  href="/strike">STRIKE&gt;&gt;</a>
    <div class="gap"></div>
    <a class="underline"  href="https://test-cantstop.onrender.com">Can't stop&gt;&gt;</a>
    </div>


  </body>
</html>
