*,
::before,
::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol{
  list-style:none;
}

button {
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none;
}

input {
  font-size: 40px;
}

body{
  max-width: 1200px;
  font-size: 40px;
  line-height:100%;
  background-color: burlywood;
  font-family: 'Zen Maru Gothic', sans-serif;
  color: white;
}

.bgimage{
  background-image: url("../images/top/green3.png");
  background-size: cover;
  background-position:center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.logo{
  width: 100%;
  padding-top: 150px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 100px;
  text-align: center;
}

.logoimg{
  width: 75%;
}

.toptext{
  font-size: 65px;
  font-weight: 600;
  text-align: right;
  margin-right: 15%;
}

.underline{
  text-decoration: none;
}

