<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type"
    conten="text/thml; charset=UTF-8"> 

    <link rel='stylesheet' href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    crossorigin="anonymous" >
    <link rel='stylesheet' href='/stylesheets/style-users.css' />
  </head>

  <body class="container bgimage">

    <p><%=msg %></p>

    <div role="main">
      <ol class="text-danger">
        <% if (err!=null){for(let i in err.errors){ %>
          <li><%= err.errors[i].message %></li>
        <% }} %>
      </ol>

      <div class="namepass">
      <form method="post" action="/users/add">
        <div class="form-group">
          <label for="name">NAME</label>
          <input type="text" name="name" id="name"
          value="<%=form.name%>" class="form-control form-size">
          <ul class="text-danger">
            <% if (err!=null){for (let i in err.get("name")) { %>
              <li><%= err.get("name")[i].message %></li>
           <% }} %>
          </ul>
        </div>

        <div class="gap"></div>
        <div class="loginbutton">
        <input type="submit" value="Create" class="usrbtn">
        </div>

      </form>
      </div>

      <div class="gap2"></div>      
      <div class="linktext">
      <p><a href="/">&lt;&lt; Topへ戻る</a></p>
      </div>

    </div>
 
  </body>
</html>