<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style-users.css' />
  </head>
  
<body onload="init()"  style="background-color: #FFFFFF;">


</body>

<script>

function init(){
  alert('登録が完了しました。')
    window.location.href = '/users/login'
}


</script>
</html>
